.log {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
  margin-left: 15px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #493267;
  color: white;
  /* display: none; Hidden by default */
  font-size: 20px;
}

.labels {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 5px;
  margin-top: 4px;
}

.inputs {
  text-align: left;
}
.formH {
  display: flex;
  flex-direction: row;
  max-width: 70%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
input {
  background-color: #701172b2;
  color: white;
  margin-right: 15px;
  font-size: large;
}
input::placeholder {
  color: #7bb3ff;
}

.log-btn {
  background-color: #e86af0;
  height: 30px;
  color: #373854;
  font-size: large;
  margin-top: 5px;
}
.reg-btn {
  background-color: #7bb3ff;
  height: 30px;
  color: #373854;
  font-size: large;
  margin-top: 5px;
}
