.container-task {
  background-color: #61dafb;
  /* background-color: whitesmoke; */
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 5px;
  border: 1px solid #493267;
}
.task {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.checkbox {
}

.task-txt {
  text-align: left;
  /* width: 60%; */
  margin-left: 10px;
}
.task-txt-edt {
  text-align: left;
  width: 60%;
  margin-left: 10px;
}
.btns {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
.edit-btn {
  background-color: rgb(39, 41, 172);
  color: white;
}
.delete-btn {
  background-color: rgb(172, 44, 39);
  color: white;
}
.hidden {
  visibility: hidden;
  max-width: 2px;
  max-height: 2px;
}
.completed {
  text-decoration: line-through;
}
