.App {
  text-align: center;
}


.App-header {
  background-color: #493267;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #7bb3ff;
}

.App-link {
  color: #61dafb;
}
.tasks {
  flex-direction: column;
}
.colors {
  color: #373854;
  color: #493267;
  color: #9e379f;
  color: #e86af0;
  color: #7bb3ff;
}